<h1>一覧</h1>

<div class="mb-3">
  <table class="table table-hover">
    <tr>
      <th>写真</th>
      <th>テキスト</th>
      <th>投稿者</th>
      <th></th>
    </tr>
    <% @photos.each do |p| %>
    <tr>
      <th><%= link_to image_tag(p.image.url), photo_path(p.id) %></th>
      <th><%= link_to p.text, photo_path(p.id) %></th>
      <th><%= p.user.name %></th>
      <th><%= link_to "編集", edit_photo_path(p.id), class: "btn btn-secondary" %>
      <%= link_to "削除", photo_path(p.id), method: :delete ,data: { confirm: '本当に削除していいですか'}, class: "btn btn-danger mx-3" %></th>
    </tr>
    <% end %>
  </table>
</div>
<%= link_to "新規登録", new_photo_path , class: "btn btn-primary" %>

